name: alga
description: A powerful tool app for all developers.

publish_to: "none"
version: 1.0.0+30-pre

environment:
  sdk: ">=2.19.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.17.0

  # custom packages
  lorem_ipsum:
    path: ./packages/lorem_ipsum
  highlight_textspan:
    path: ./packages/highlight_textspan
  language_textfield:
    path: ./packages/language_textfield
  flutter_js_wrapper:
    path: ./packages/flutter_js_wrapper
  py_dict_parser:
    path: ./packages/py_dict_parser

  cupertino_icons: ^1.0.5
  archive: ^3.3.5
  dart_style: ^2.2.4
  uuid: ^3.0.7
  crypto: ^3.0.1
  flutter_svg: ^1.1.6
  window_manager: ^0.2.8
  yaml: ^3.1.1
  json2yaml: ^3.0.0
  flutter_markdown: ^0.6.13
  url_launcher: ^6.1.7
  animations: ^2.0.7
  flutter_riverpod: ^2.1.3
  hotkey_manager: ^0.1.7
  sass: ^1.53.0
  file_selector: ^0.9.2+2
  shelf_static: ^1.1.1
  flutter_highlight: ^0.7.0
  hive: ^2.2.3
  hive_flutter: ^1.1.0
  qr_flutter: ^4.0.0
  blurhash_dart: ^1.1.0
  flutter_blurhash: ^0.7.0
  image_picker: ^0.8.6
  device_info_plus: ^8.0.0
  network_info_plus: ^3.0.1
  flutter_js: ^0.5.0+6
  import_sorter: ^4.6.0
  markdown: ^6.0.1
  pointycastle: ^3.6.2
  pigment: ^1.0.4
  go_router: ^6.0.0
  flutter_colorpicker: ^1.0.3
  image: ^3.2.2
  convert: ^3.1.1
  path: ^1.8.1
  shelf: ^1.4.0
  adaptive_breakpoints: ^0.1.4
  dynamic_color: ^1.5.4
  tuple: ^2.0.1
  multi_split_view: ^2.1.0
  auto_size_text: ^3.0.0
  filesize: ^2.0.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0
  hive_generator: ^1.1.3
  build_runner: ^2.3.2
  flutter_flavorizr: ^2.1.5
  msix: ^3.6.6

dependency_overrides:
  xml: 6.1.0
  ffi: ^2.0.0
  file:
    git:
      url: https://github.com/google/file.dart
      path: packages/file

flutter:
  uses-material-design: true
  generate: true

  assets:
    - assets/icons/
    - assets/logo/
    - assets/images/

import_sorter:
  emojis: true
  comments: false

flavorizr:
  app:
    android:
      flavorDimensions: "abi"
    ios:

  flavors:
    dev:
      app:
        name: "Alga Dev"

      android:
        applicationId: "tech.laihz.alga.dev"
      ios:
        bundleId: "tech.laihz.alga"

    arm:
      app:
        name: "Alga"

      android:
        applicationId: "tech.laihz.alga.arm"
        customConfig:
          ndk: '{ abiFilter "armeabi-v7a" }'

      ios:
        bundleId: "tech.laihz.alga"

    arm64:
      app:
        name: "Alga"

      android:
        applicationId: "tech.laihz.alga.arm64"
        customConfig:
          ndk: '{ abiFilter "arm64-v8a" }'

      ios:
        bundleId: "tech.laihz.alga"

    x86_64:
      app:
        name: "Alga"

      android:
        applicationId: "tech.laihz.alga.x86_64"
        customConfig:
          ndk: '{ abiFilter "x86_64" }'

      ios:
        bundleId: "tech.laihz.alga"

    universal:
      app:
        name: "Alga"

      android:
        applicationId: "tech.laihz.alga"

      ios:
        bundleId: "tech.laihz.alga"

    aab:
      app:
        name: "Alga"

      android:
        applicationId: "tech.laihz.alga.aab"

      ios:
        bundleId: "tech.laihz.alga"
